In [1]:
import pandas as pd

In [2]:
xls = pd.ExcelFile('loan.xlsx')
xls.sheet_names

['Description', 'Data']

In [3]:
df = pd.read_excel(xls, sheet_name = 'Data')
df.shape

(5000, 14)

In [4]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [21]:
df["Personal Loan"].value_counts

<bound method IndexOpsMixin.value_counts of 0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    0
4997    0
4998    0
4999    0
Name: Personal Loan, Length: 5000, dtype: int64>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [6]:
missing = df.isnull().sum()
missing = missing[missing >0].sort_values(ascending = False)
missing

Series([], dtype: int64)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
labels = ['Personal Loan','Age', 'ID']
x = df.drop(labels, axis = 1)
y = df['Personal Loan']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 42)

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, recall_score

In [11]:
lr = LogisticRegression(random_state = 42)
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
print(accuracy_score(y_pred, y_test))
print(precision_score(y_pred, y_test))
print(confusion_matrix(y_pred, y_test))
print(recall_score(y_pred, y_test))

0.936
0.5373134328358209
[[1098   62]
 [  18   72]]
0.8

C:\Users\krish\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:470: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
rfc = RandomForestClassifier(random_state = 42)
rfc.fit(x_train, y_train)
y_rfc = rfc.predict(x_test)
print(accuracy_score(y_rfc, y_test))
print(precision_score(y_rfc, y_test))
print(confusion_matrix(y_rfc, y_test))
print(recall_score(y_rfc, y_test))

0.9888
0.9104477611940298
[[1114   12]
 [   2  122]]
0.9838709677419355

In [22]:
import pickle 
import gzip

In [23]:
with gzip.open("model.pkl.gz", "wb") as f:
    pickle.dump(rfc, f)